.main {
  width:100%;
  display: flex;
  flex-direction: row;
}

.form {
width: 50%;
height: 500px;
padding-left: 20px;


}

.form_divs{
display: block;
height: 20px;
width: 50%;
padding: 5px;
}

#map {
  font-family: Arial;
  font-size:12px;
  line-height:normal !important;
  height:400px;
  width:80%;
  background:transparent;
}
    
#contenedor {
  width:750px;
 display:flex;
flex-direction:row;
    }
